__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.vscode/
.git/
.gitignore
*.md
*.bak
*.swp
*.tmp
*.old
*.zip
*.tar
*.tar.gz
*.egg-info/
node_modules/
terraform/
!.dockerignore
Dockerfile
